body {
  background: #E1DCC5;
  margin: 0;
}
a{
  color:black;
  text-decoration:none;
}

#header {
  position: relative;
  margin: 0px auto;
  width: 50%;
  height: 150px;
  left: 150px;
}




.menubox {
  position: absolute;
  top: 0px;
  left: 158px;
  width: 1000px;
  height: 125px;
  border: 1 px solid black;
}

img {
  position: absolute;
  top: 31px;
  left: -221px;
  width: 149px;
  height: 64px;
}

.menucate {
  widows: 50px;
  height: 30px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  width: 210px;
  height: 45px;
  margin-left: 20px;
  position: absolute;
  left: -45px;
  top: 43.5px;
  list-style-type: none;

}

.li{
  padding-right:20px;
}

.browse {
  color: red;
  padding-right:18px;


}

.mybooks{
  padding-right:16px;
  font-size:17.6px;
}




.log {
  position: relative;
  left: 293px;
  top:  6.5px;
  width:140px;
}

.signup {
  height: 20px;
  border: none;
  background-color: #0376b8;
  color: #fff !important;
  border-radius: 2.5px;
}

.container {
  padding-top: 80px;
  display: -ms-grid;
  display: grid;
  margin-left: 175px;
  margin-top: 15px;
  width: 1070px;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #BABBAE;
  row-gap: 60px;
  position: absolute;
}

.row-item {
  position: relative;
  display: inline-block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F3EDD7;
  height: 278px;
}

.romans {
  position: absolute;
  left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 225px;
  width: 998.5px;
  margin-top: 18px;

}

.kids {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 275px;
  width: 998.5px;
  margin-top: 18px;
}

.sfic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 275px;
  width: 998.5px;
  margin-top: 18px;
}

.bio {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 275px;
  width: 998.5px;
  margin-top: 18px;
}

.art {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 275px;
  width: 998.5px;
  margin-top: 18px;
}

.imgbook {
  position: static;
  height: auto;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 224.5px;
  width: 138px;

  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.btn {
  display:flex;
  margin-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450 px;
  height: 23 px;
  position: absolute;
  top: 247px;
}
 .button {
  margin-right: 82px;
  font-size: 15px;
  color: #fff;
  width: 86px;
  display: block;
  height:20px;
  border: 0;
  border-radius: 2.5px;
  margin-top: 2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding: 10.5px;
  white-space: nowrap;
  background-color: #999;
  line-height: 0.1em;
  text-decoration: none;
  background-color: #0376B8;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;

}

.rowicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 850px;
  height: 75px;
  margin-left: 99px;
}

.columnicons {
  display: block;
  height: 67.5px;
  width: 94.5px;
}

.iconspics {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 27px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.icontextart {
  font-size: larger;
  position: relative;
  left: 2px;
}

.icontextrom {
  font-size: larger;
  position: relative;
  left: -20.5px;
}

.icontextbio {
  font-size: larger;
  position: relative;
  left: -25px;
}

.icontextkids {
  font-size: larger;
  position: relative;
  left: -0.5px;
}

.icontextscf {
  font-size: larger;
  position: relative;
  right: 11.5px;
}
.search{
  position: relative;
  left: 113px;
  top: 48px;
}