.body{
  background:#E1DCC5;
  margin: 0;
 }
#header{
  
 position:relative;
 margin:0px auto;
 width: 50%;
 height: 150px;
 left: 150px;z

 
}

.menubox{
  position:absolute;
  top:0px;
  left:158px;
  width:1000px;
  height: 125px;
  border:1 px solid black
  
}

.img{
   position: absolute;
    top: 37px;
    left: 25px;
    width: 179px;
    height: 64px;
}


.menucate{
  widows: 50px;
  height:30px;

}
ul{
  display:flex;
  justify-content: space-between;
  font-size:18px;
  width:200px;
  height:45px;
  margin-left:20px;
  position:absolute;
  left:207px;
  top:32.5px;
  list-style-type: none;
}

  .browse{
    color:red;
    
  }
  
  
  



.log{
 
  position: relative;
  left: 1106px;
  top: 43px;
  border:1px solid red;
}
  
  .signup{
    height:20px;
    border: none;
    background-color: #0376b8;
    color: #fff!important;
    border-radius: 2.5px;
    
 }
  
    




.container{
  padding-top:80px;
  display:grid;
  margin-left:175px;
  margin-top:15px;
  width:1000px;
  background:white;
  height:fit-content;
  border:1px solid #BABBAE;
  row-gap:60px;
  position:absolute;
  
}
.row-item{
   position:relative;
  display: inline-block;
   justify-content: space-around;
   border:1px solid green;
   background-color:#F3EDD7;
   height: 278px;
  
  
}

.romans{
  position:absolute;
  display:flex;
  justify-content: space-around;
  height: 225px;
  width:998.5px;
}
.kids{
  display:flex;
  justify-content: space-around;
  height: 275px;
  width:998.5px;
}

.sfic{
  display:flex;
  justify-content: space-around;
  height: 275px;
  width:998.5px;
}

.bio{
  display:flex;
  justify-content: space-around;
  height: 275px;
  width:998.5px;
}

.art{
  display:flex;
  justify-content: space-around;
  height: 275px;
  width:998.5px;
}
.imgbook{
   position: static;
   height: auto;
 }
 .column{
  display:flex;
  justify-content: space-between;
  height:232.5px;
  width: 135px;
  border:1px solid green;
  column-gap:25px;
}

.btn{
margin-left: 29px;
display:flex;
width:450 px;
height:29 px;

position: absolute;
top: 290px;
width: 969px;
display: flex;
justify-content: space-around;
}
    
              

.button{
  margin-right: 22px;
  font-size: 15px;
    color: #fff;
    width: 86px;
    display: block;
    border: 0;
    border-radius: 2.5px;
    margin-top: 2.5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 3.5px;
    white-space: nowrap;
    background-color: #999;
    line-height: 0.1em;  //2em
    text-decoration: none;
  	background-color:#0376B8;
    transition: background-color .2s;


}

.rowicons{
  display:flex;
  justify-content: space-around;
  width: 850px;
  height:75px;
  margin-left:80px;
  
 
}
.columnicons{
  display:block;
  height: 67.5px;
   width: 94.5px;
  

}

.iconspics{
      border-top:1px solid grey;
      position: static;
      display: flex;
      width: 39px;
      height: 33px;
      filter: grayscale(100%);
}

.icontextart{
  font-size: x-large;
  position: relative;
  left: 9px;
}
.icontextrom{
  font-size: x-large;
   position: relative;
   left: -1.5px;
}

.icontextbio{
  font-size: x-large;
  position: relative;
  left: -6px;
}

.icontextkids{
  font-size: x-large;
  position: relative;
  left: 7.5px;
}

.icontextscf{
  font-size: x-large;
  position: relative;
  right: 13.5px;
}

